asgiref~=3.7.2
autopep8~=2.0.4
chromadb~=0.4.14
deepgram-sdk~=2.11.0
quart~=0.19.3
hypercorn~=0.14.4
llama-index~=0.8.49
moviepy~=1.0.3
python-dotenv~=1.0.0
pylint~=3.0.1
quart_cors~=0.7.0
transformers~=4.34.0
whisper~=1.1.10
requests~=2.31.0